* {
    margin: 0;
    padding: 0;
}

#container {
    margin: 50px auto;
    text-align: center;
    border: 2px solid black;
    width: 450px; height: 450px; 
    padding: 30px;
}

#container h2 {
    padding: 13px;
}

#pp { border-radius: 50%; width: 150px; height: 150px;}