* {
    margin: 0;
    padding: 0;
    font-family: 'Nixie One', cursive;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    color: white;
}

.mainBox {
    margin: 50px auto;
    width: 450px;
    height: 450px;
    border-radius: 10%;
}

#container {
    position: absolute;
    background-color: steelblue;
    text-align: center;
    padding: 30px;
}

#container h2 {
    padding: 13px;
}

#pp { border-radius: 50%; width: 150px; height: 150px;}

#gameCanvas {
    display: none; 
    background: url("img/bg.jpg") no-repeat;
    border: 2px solid black;
}

.box {
    float: left;
    background-color: red;;
    width:  21%;
    height: 21%;
    border-radius: 27%;
    border: 1px dashed darkblue;
    text-align: center;
    margin: 8px;
}

span {
    font-size: 45px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 100%;
    text-align: center;
}